// Colors
$background: #fcfcfc; //rgba(252, 252, 252, 100)
$color2: #d1b1b1; //rgba(209, 177, 177, 100)
$footer: #56a5af; //rgba(86, 165, 175, 100)
$header: #263651; //rgba(38, 54, 81, 100)
$color5: #03101e; //rgba(3, 16, 30, 100)
$color6: #C4EEFF;
$font-color: #fcfcfc;
$hover-color: #d1b1b1;