<footer>
	<nav class="navbar navbar-fixed-bottom">
		<div class="container">
			<span class="copyright">Made with ♥ in Memphis, TN</span>
			<div class="social-links">
				<ul>
					<li><a href="https://github.com/cameronbroe"><span class="social icon-social-github"></span></a></li>
					<li><a href="https://www.linkedin.com/in/cameronbroe"><span class="social icon-social-linkedin"></span></a></li>
					<li><a href="https://open.spotify.com/user/commanderviral"><span class="social icon-social-spotify"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</footer>