---
title: Contact Me!
---
<div class="jumbotron cr-jumbotron">
	<h1>Contact Me</h1>
	<p>Use the form below to quickly send me an email!</p>
	<p>Or here are my contact details:</p>
	<ul class="contact-details">
		<li><span class="icon-phone"></span> Phone: (901) 871-4834</li>
		<li><span class="icon-envelope-letter"></span> Email: <a href="mailto:cameron.b.roe@gmail.com">cameron@cameronbroe.com</a></li>
	</ul>
</div>
<div class="container cr-full-height">
	<form class="form-horizontal cr-full-height" action="https://formspree.io/cameron@cameronbroe.com" method="POST">
		<div class="form-group cr-full-height">
			<div class="clearfix cr-contact-container">
				<label class="col-sm-2 control-label" for="full-name">Full Name: </label>
				<div class="col-sm-10 cr-contact-txtbox">
					<input class="form-control" type="text" name="full-name">
				</div>
				<label class="col-sm-2 control-label" for="_replyto">Email: </label>
				<div class="col-sm-10 cr-contact-txtbox">
					<input class="form-control" type="email" name="_replyto">
				</div>
				<label class="col-sm-2 control-label" for="_subject">Subject: </label>
				<div class="col-sm-10 cr-contact-txtbox">
					<input class="form-control" type="text" name="_subject">
				</div>
				<label class="col-sm-2 control-label" for="message">Message: </label>
				<div class="col-sm-10 cr-contact-txtbox">
					<textarea name="message" class="form-control" rows="8"></textarea>
				</div>
				<input id="_gotcha" type="text" name="_gotcha">
				<input type="hidden" name="_next" value="http://cameronbroe.com/thanks/">
				<div class="col-sm-4 col-sm-offset-8">
					<input class="form-control" type="submit" value="Send Me An Email!">
				</div>
			</div>
		</div>
	</form>
</div>