---
title: Cameron Roe
---
<div class="jumbotron cr-jumbotron">
	<h1>Hi, I'm Cameron Roe</h1>
	<p>I'm a software developer and amateur audio engineer/music producer.</p>
</div>

<div class="container cr-body-container">
	<div class="row row-eq-height">
		<div class="col-xs-12 col-md-6 col-lg-8 cr-section-container" id="summary">
			<div class="cr-section">
				<div class="cr-section-header">
					<h2>Summary</h2>
				</div>
				<div class="cr-section-content">
					<p>
						A software developer with a diverse skillset in multiple technologies with a particular emphasis on web development and RESTful architectures. Specifically interested in social networking, audio development, and SaaS. Excellent writing and verbal skills. Comfortable with working in teams with strict deadlines. Strong skills in solving problems with creativity.<br><br>

						On the weekends, I'm usually enjoying a nice, cold local brew (usually an IPA), playing a video game, or fiddling with FL Studio coming up with ideas for my next track.
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4 cr-section-container skills">
			<div class="container-fluid cr-body-container">
				<div class="col-xs-12 kill-padding">
					<div class="cr-section" id="skills-row">
						<div class="cr-section-header">
							<h2>Skills</h2>
						</div>
						<div class="cr-section-content">
							<ul id="skills-list">
								<li>HTML</li>
								<li>CSS</li>
								<li>JavaScript</li>
								<li>PHP</li>
								<li>Laravel</li>
								<li>Slim</li>
								<li>C/C++</li>
								<li>Ruby</li>
								<li>Rails</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-xs-12 kill-padding">
					<div class="cr-section" id="hobbies-row">
						<div class="cr-section-header">
							<h2>Hobbies</h2>
						</div>
						<div class="cr-section-content">
							<ul id="hobbies-list">
								<li>Music Production</li>
								<li>Audio Development</li>
								<li>PC Gaming</li>
								<li>Console Gaming</li>
								<li>Netflix Binging</li>
								<li>Game of Thrones</li>
								<li>Legend of Zelda</li>
								<li>Beer Enthusiast</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Recent posts -->
	<!--<div class="row">
		<div class="col-xs-12 cr-section-container">
			<div class="container-fluid cr-body-container cr-recent-posts">
				<div class="cr-section">
					<div class="cr-section-header">
						<h2>Recent Posts</h2>
					</div>
					<div class="cr-section-content">
						TODO: Blogging section
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>